<html>
<body>
<p>
    Hi {{.Name}},
</p>
<p>
    You have successfully posted on Exchange that you want to buy {{.Currency}} for ${{.Price}}.
    If any sellers decide that they want to sell at this price, we will notify you immediately.
    Otherwise take a look at our <a href="{{.BuyUrl}}">list of sellers</a> and see if you are able to purchase {{.Currency}} straight away.
</p>
<p>
    If you have any questions just send an email to <a href="mailto:exchange@autonomous.nyc">exchange@autonomous.nyc</a> or
    you can join the conversation here on Telegram - <a href="https://t.me/autonomousdotai">https://t.me/autonomousdotai</a>
</p>
<p>
    Thanks,<br/>
    Aliesha
</p>
<p>
    Exchange | Autonomous
</p>
</body>
</html>
