<html>
<body>
<p>
    Hi,
</p>
<p>
    Congrats on your first offer! Keep up the good job!
</p>
<p>
    You have successfully posted your order on Ninja:
</p>
<p>
    Sell {{.SellAmount}} {{.Currency}} / Buy {{.BuyAmount}} {{.Currency}}
</p>
<p>
    Stay tuned for a fellow Ninja to shake and accept your offer We will let you know as soon as we find someone!
</p>
<p>
    If you have any questions just send an email to <a href="mailto:cash@shake.ninja">cash@shake.ninja</a>
</p>
<p>
    Have fun trading,<br/>
    Aliesha
</p>
<p>
    Cash | Ninja
</p>
<p>
    Join the conversation at <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
