<html>
<body>
<p>
    Its official!
</p>
<p>
    The deal has been finalized, your goods should arrive to your chosen dojo soon!
    <br>
    We'll let you know once your goods have been shipped.
</p>
<p>
    Thanks for selling on Ninja.
</p>
<p>
    Is there more stuff that you want? Ask for it in the <a href="{{.Url}}">dojo</a>.
</p>
<p>
    Thanks
</p>
<p>
    Taniwha | Ninja
</p>
<p>
    Have you joined us in the dojo yet? <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
