<html>
<body>
<p>
    Hi,
</p>
<p>
    You have successfully cancelled your order on Cash.
    If you change your mind or want to initiate a new order from another ninja then just head over to our mobile website.
    <a href="{{.CreateOfferUrl}}">{{.CreateOfferUrl}}</a>
</p>
<p>
    If this was a mistake please contact us immediately at <a href="mailto:exchange@autonomous.nyc">exchange@autonomous.nyc</a>
</p>
<p>
    Thanks,<br/>
    Aliesha
</p>
<p>
    Cash | Ninja
</p>
<p>
    Join the conversation at <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
