<html>
<body>
<p>
    Hi
</p>
<p>
    Success! You have just bought {{.Amount}} {{.Currency}} from {{.Username}} for {{.FiatAmount}} {{.FiatCurrency}}
</p>
<p>
    Here are the ways to arrange the meeting with {{.Username}}:
    <br>- Chat with them on Ninja
    <br>- Contact them via the number they have provided
</p>
<p>
    Ninja tip: Stay safe! We suggest letting the seller know your arrival time and meeting up at the shop for safety reasons
</p>
<p>
    Need help? We are here 24/7 to help! Just shoot an email to <a href="mailto:dojo@ninja.org">dojo@ninja.org</a>
</p>
<p>
    Have fun in the dojo,
    <br>Aliesha
</p>
<p>
    Join the conversation at <a href="https://tme/ninja_org">https://tme/ninja_org</a>
</p>
</body>
</html>
