<html>
<body>
<p>
    Hi,
</p>
<p>
    You have successfully posted on Exchange that you want to buy {{.Currency}} {{.PriceStr}}.
    If any Ninjas decide that they want to shake, we will notify you immediately.
</p>
<p>
    If you have any questions just send an email to <a href="mailto:cash@shake.ninja">cash@shake.ninja</a>
</p>
<p>
    Thanks,<br/>
    Aliesha
</p>
<p>
    Cash | Ninja
</p>
<p>
    Join the conversation at <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
