<html>
<body>
<p>
    Hey,
</p>
<p>
    Just a quick email letting you know that we have notified the other ninja, that you are interested in buying their stuff.
</p>
<p>
    They should be in touch soon to finish the deal.
    <br>
    In the meantime, <a href="{{.Url}}">take a look</a> around the dojo and see if any other offers take your fancy.
</p>
<p>
    Thanks
</p>
<p>
    Taniwha | Ninja
</p>
<p>
    Have you joined us in the dojo yet? <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
