<html>
<body>
<p>
    Its official!
</p>
<p>
    The deal has been finalized, all you need to do is ship your goods to the chosen Ninja and then you will see some coin in your wallet.
</p>
<p>
    Thanks for selling on Ninja.
</p>
<p>
    Have more goods to sell? Have them up on <a href="{{.Url}}">Ninja</a> in no time.
</p>
<p>
    Thanks
</p>
<p>
    Taniwha | Ninja
</p>
<p>
    Have you joined us in the dojo yet? <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
