<html>
<body>
<p>
    Hey,
</p>
<p>
    It looks like you cancelled a transaction on Ninja.
    <br>
    Unfortunately that means you have been banned from the dojo for one hour.
</p>
<p>
    After that you can return to Ninja and continue to trade as usual.
</p>
<p>
    If you think there has been a mistake or you didn't want to cancel then just <a href="mailto:dojo@ninja.org">send us an email</a>.
</p>
<p>
    Thanks
</p>
<p>
    Taniwha | Ninja
</p>
<p>
    Have you joined us in the dojo yet? <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
