<html>
<body>
<p>
    Hi,
</p>
<p>
    Just letting you know that you have successfully withdrawn {{.Amount}} {{.Currency}} from your wallet. You should see it in your wallet shortly.
    You should see it in your wallet shortly.
</p>
<p>
    If you have any questions just send an email to <a href="mailto:exchange@autonomous.nyc">exchange@autonomous.nyc</a> or
    you can join the conversation here on Telegram - <a href="https://t.me/autonomousdotai">https://t.me/autonomousdotai</a>
</p>
<p>
    Thanks,<br/>
    Aliesha
</p>
<p>
    Cash | Ninja
</p>
<p>
    Join the conversation at <a href="https://t.me/ninjadotorg">https://t.me/ninjadotorg</a>
</p>
</body>
</html>
