<html>
<body>
<p>
    Hi {{.Name}},
</p>
<p>
    Success! You have just ordered {{.Amount}} {{.Currency}} from {{.FromUsername}}. You should see the amount in your wallet shortly.
</p>
<p>
    If you have any questions just send an email to <a href="mailto:exchange@autonomous.nyc">exchange@autonomous.nyc</a> or
    you can join the conversation here on Telegram - <a href="https://t.me/autonomousdotai">https://t.me/autonomousdotai</a>
</p>
<p>
    Thanks,<br/>
    Aliesha
</p>
<p>
    Exchange | Autonomous
</p>
</body>
</html>
